* {
  margin:0;
  padding: 0;
}

.container {
  max-width: 1000px;
  width: 100%;
}

.logo {
  margin: 0; 
  padding:10px;
  position: sticky;
  top: 0;
  z-index:0;
  background-color: #2D62EC;
}

.logo-letter {
  font-size: 25px;
  color:white;
  font-family: 'Borel', cursive;
}

button {
  background-color: #2D62EC;
  border: none;
  border-radius: 30px;
  padding: 10px 15px;
  color: white;
  margin: 10px
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.register{
  margin: 10px;
}

input {
  background-color: #F4F7FE;
  border: none;
  padding: 10px;
  border-radius: 30px;
}

.chat-feed {
  background-color: #F4F7FE;
  width: 346px;
  height: 908px;
  border-radius: 30px;
  margin-top: 10px;
}